* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    // Rédéfinir la taille par défaut d'1 rem à 10px plutôt que 16px
    font-size: 62.5%;
}

body {
    background: linear-gradient(
        121deg,
        rgba(3, 54, 106, 1) 0%,
        rgba(6, 86, 168, 1) 26%,
        rgba(13, 101, 190, 0.8690826672465861) 79%,
        rgba(79, 142, 206, 0.8914916308320203) 100%
    );
    @include no-margin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
