@import "variables";
@import "mixins";
@import "reset";
@import "~bootstrap/scss/bootstrap";

.bg {
  .whiteCard {
    background: rgba(255, 255, 255, 0.96);
    border-radius: 17px;
    margin: 3vh auto;
    width: 90vw;
    min-height: 84vh;
  }
}

