@import "variables";
@import "mixins";
@import "reset";
@import "~bootstrap/scss/bootstrap";

.bg {
  padding: 1vw 5vw;
  .header {
    // padding: 2rem 0;
    .row-brand {
      margin-left: 1rem;
    }
    .navbar-brand {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 27px;
      line-height: 32px;
      color: black;
      letter-spacing: -2px;
    }

    .navbar-nav {
      font-weight: 500;
      font-size: 20px;

      a {
        font-weight: 600;
        color: rgb(235, 235, 235);
        @media (min-width: 991px) {
          padding-left: 25px;
        }
      }
    }

    button {
      background: #0d66b6;
      border-radius: 8px;
    }
  }

  //White Bg

  .whiteBg {
    background: rgba(255, 255, 255, 0.96);
    border-radius: 17px;
    margin: 1vh auto;
    width: 90vw;
    min-height: 85vh;
    @media (max-width: 990px) {
      min-height: 90vh;
    }

    .description {
      margin: 0 3rem;
      align-self: center;
      @media (max-width: 991px) {
        margin: 0 3rem;
        text-align: center;
      }

      img {
        width: 200px;
        animation-duration: 3s;
        animation-name: rotation;
        animation-iteration-count: infinite;
        @media (min-width: 991px) {
          display: none;
        }
        @keyframes rotation {
          0% {
            transform: rotate(30deg);
          }
          50% {
            transform: rotate(-30deg);
          }
          100% {
            transform: rotate(30deg);
          }
        }
      }

      .name {
        font-style: normal;
        font-weight: bold;
        line-height: 45px;
        font-size: 40px;
        @media (max-width: 575px) {
          font-size: 20px;
          line-height: 25px;
        }

        p {
          color: $color-red;
          margin: 0;
          b {
            text-transform: uppercase;
          }
        }
      }

      .about {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 28px;
        margin: 2rem 0;
        @media (max-width: 575px) {
          font-size: 15px;
          line-height: 20px;
        }
      }

      .bouton {
        font-size: 18px;
        border-radius: 20px;
        padding: 10px 15px;
        background: $color-red;
        border: 2px solid #cc5353;
        box-sizing: border-box;
        box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);

        &:hover {
          background-color: whitesmoke;
          color: #cc5353;
          font-weight: bold;
          text-decoration: none;
        }
        &:visited {
          color: red;
        }
      }
    }

    .circleBlock {
      background: no-repeat center url("../img/circle.png");
      @media (max-width: 991px) {
        display: none;
      }
      .photoBlock {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;

        .photo {
          object-fit: contain;
        }
      }
    }
  }
}

.socialNetwork {
  display: inline-block;
  margin-left: auto;
  @media (min-width: 991px) {
    display: none;
  }

  img {
    border-radius: 4px;
    width: 30px;
    margin: 2rem 15px 2rem 0;
  }
}
